playground.py
training_input.pkl
training_target.pkl
training_target_full.pkl
validation_input.pkl
validation_target.pkl
validation_target_full.pkl
/training
/validation
/inpainting
/ENV
*.pyc
.idea
/others
/saved-predictions